page{
    height: 100%;
}
.top-wrap{
    width: 100%;
    height: 400rpx;
    .login-wrap{
        width: 100%;
        height: 400rpx;
        display: flex;
        justify-content: center;
        align-items: center;
        button{
            width: 50%;
        }
    }
    .bg-image-wrap{
        width: 100%;
        height: 100%;
        position: relative;
        .bg-image{
            width: 100%;
            height: 100%;
            filter: blur(10rpx);
        }
        .touxiang-wrap{
            position: absolute;
            top: 50%;
            left: 50%;
            transform:translate(-50%,-50%);
            height: 200rpx;
            width: 200rpx;
            // border: 1px solid gray;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            // background-color: #fff;
            .touxiang{
                width: 100rpx;
                height: 100rpx;
                border-radius: 50rpx;
            }
            .nick-name{
                font-size: 40rpx;
                color: white;
                font-weight: 300rpx;
            }
        }
    }
}


.user-info-wrap{
    background-color: rgb(235, 235, 235);
    width: 100%;
    // height: ;
    // margin-bottom: 100rpx;
    // padding-left: 30rpx;
    padding:120rpx 25rpx;
    position: relative;
    .user-info-item{
        background-color: #fff;
        // margin: 0 30rpx;
        width: 700rpx;
        border: 1px solid floralwhite;
    }
    .my-collect{
        position: absolute;
        top: -30rpx;
        height: 120rpx;
        
        display: flex;
        .collect-item{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            .item-num{
                color: var(--themeColor);
            }
            .item-text{
                color: black;
            }
        }
    }
    .my-orders{
        // margin-top: 120rpx;
        .my-order-title{
            font-size: 30rpx;
            height: 60rpx;
            line-height: 60rpx;
            font-weight: 800rpx;
            padding: 0 30rpx;
            border-bottom: 3px solid rgb(231, 226, 226);
        }
        .orders-content{
            display: flex;
            height: 100rpx;

            navigator{
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .my-address{

    }
    .my-address{
        height: 80rpx;
        margin-top: 20rpx;
        navigator{
            height: 100%;
            line-height: 80rpx;
            padding-left: 30rpx;
            font-size: 35rpx;
        }
    }
    .app-info-wrap{
        margin-top: 20rpx;
        navigator{
            height: 60rpx;
            line-height: 60rpx;
            font-size: 30rpx;
            padding: 0 20rpx;
            border-bottom: 2px solid rgb(248, 246, 246);
        }
        .tel-server{
            display: flex;
            justify-content: space-between;
        }
    }
}